.sidebar .nav-link {
    color: #000;
}

.sidebar .nav-link.active {
	color: #0d6efd;
	background-color: rgba(0,0,0,0.12);
}

.loader {
	width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
}

.loader .loader-icon {
	position: absolute;
	top: 50%;
	left: 50%;
}

.exchange-page .my-mainMenuList li>input
{
	display: none;
}

.exchange-page .my-mainMenuList li>label
{
    cursor: pointer;
    border:1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    margin: 20px;
    padding: 20px;
    text-align:center;
}

.exchange-page .my-mainMenuList li input[type="radio"]:checked +label
{
    background-color:#ccc;
}